





<p>I am originally from California. I visited Atlanta several years ago for business reasons. The affordability, weather and general friendliness of the community was impressive. I returned home and closed all affairs in California and moved to Atlanta.
</p>

<p>I have worked as a Sales and Use Tax Professional in the manufacturing, retail and service industries. My role included tax compliance, account analysis, tax audit defense and tax technology.
</P>

<p>After spending a significant portion of my career as a sales and use tax professional, it became evident after experiencing two job losses due to cost restructuring, my tax career became a necessary ending.  According to Dr. Henry Cloud, necessary endings are required in order to move forward.</p> 

<p>Technology has always peaked my interest. A friend recommended researching the coding schools/programs/devcamps that are very popular in Silicon Valley, CA. In the fall of 2013, I discovered a coding program had arrived in Atlanta and reached out to the program's leadership and applied.</p>

<p>I was accepted and started the program in January 2014. It is a fast-paced intensive immersion program where I learned coding and created this website. I am sure with additional training, experience and knowledge, I will become a proficient web developer and Rubyist.
 </p>



<img src ="http://farm9.staticflickr.com/8001/6978854146_7163dca9b0_o.jpg"/>
<img src ="http://restorationeze.com/wp-content/uploads/2012/10/atlanta.jpg"/>
<img src ="http://www.alamedainfo.com/Jack_London_Square_Oakland_California_J8423.jpg"/>



	<style type ="text/css">
		img { height: 200px; }
    </style>

	




<form method="post">

		<input type="text" name="firstname">

		<input type="text" name="lastname">

		<button type="submit">Submit Me!</button>

		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>" />


</form>
</html>