<h1>Welcome to my site</h1>
<p>Bio I am a California girl. Came to Atlanta with 2 sons and a daughter. Strictly a leap of faith. I am a tax professional by trade and a ruby dev when I grow up.</p>
<ul>
	<li> movies! </li>
	<li> walking! </li>
	</ul>	