





<p>I am a California girl who came to Atlanta with 2 sons and a daughter on the Fall of 1999. This was strictly a leap of faith.  By trade, I am tax professional; but came to recognize that my tax career was over. I have always had an interest in technology. My longtime friend who is a linux programmer and I were discussing the developments in technology He mentioned the bootcamps arising in California. That peaked my interest and decided to watch for any camps coming to the Atlanta area.  I decided learning how to code in Ruby. I love amusement parks, movies and camping.</p>



<img src ="http://farm9.staticflickr.com/8001/6978854146_7163dca9b0_o.jpg"/>
<img src ="http://restorationeze.com/wp-content/uploads/2012/10/atlanta.jpg"/>
<img src ="http://www.alamedainfo.com/Jack_London_Square_Oakland_California_J8423.jpg"/>



	<style type ="text/css">
		img { height: 200px; }
    </style>



<ul>
	
	<li> movies! </li>
	<li> walking! </li>
	<li> summer! </li>
	</ul>	




<form method="post">

		<input type="text" name="firstname">

		<input type="text" name="lastname">

		<button type="submit">Submit Me!</button>

		<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token() %>" />


</form>
</html>