
<div style="text-align:center;">

		WELCOME TO MY SITE<br />	

</div>

<div style="text-align:center;">

<img src ="http://bestwaylimos.com/blog/wp-content/uploads/2010/03/oakland-california.jpg"/>


	<style type ="text/css">
		img { height: 275px; }
		img { length: 450px; }
    </style>
<h1>Bio</h1>




<p>I am originally from California. I was drawn to Atlanta when I attended a Tax conference in Stone Mountain. I had the opportunity to visit Atlanta during the conference and was impressed with the area. It was a friendly community as well as being affordable. When I returned to California, the decision was made to relocate to Atlanta. Atlanta is now my second home. </p>




<img src ="http://bestwaylimos.com/blog/wp-content/uploads/2010/03/oakland-california.jpg"/>


	<style type ="text/css">
		img { height: 275px; }
		img { length: 450px; }
    </style>



	

</html>