


<h1>Welcome to my site</h1>




<p>I am a California girl. Came to Atlanta with 2 sons and a daughter. Strictly a leap of faith. I am a tax professional by trade but learning how to code in Ruby. I love amusement parks, movies and camping.</p>



<img src ="http://farm9.staticflickr.com/8001/6978854146_7163dca9b0_o.jpg"/>


	<style type ="text/css">
		img { height: 150px; }
    </style>



<ul>
	
	<li> movies! </li>
	<li> walking! </li>
	<li> summer! </li>
	</ul>	

</html>