<!DOCTYPE html>
<html>

<head>

	<style>
		body
		{background: #FFF8DC;}
		td
		{border-width:5px; border-style: solid; color: #000000}
		td
	    {font:10p; Helvetica,sans-serif; color: #000000}
	</style>



  <title>VSparks Blog</title>

  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>


<body>

<div style="width: 200px;height:100ps;border:5px dotted black;">
</div>
<h1> WELCOME </h1>

											 				

<tr>
	<td align="center" valign="middle" width="85"><a href= "http://0.0.0.0:3000/welcome">Home</a></td>


<%= yield %>






</body>
</html>
